/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* GENERALI */

:root {
    --my-dark-color: #2c3e50;
    --my-light-color: #1ABC9C;
    --my-dark-secondary-color: #3a546d;

}

.bg-my-dark-secondary {
    background-color: var(--my-dark-secondary-color);
}

.bg-my-dark {
    background-color: var(--my-dark-color);
}

.bg-my-light {
    background-color: var(--my-light-color);
}

.text-my-light {
    color: var(--my-light-color);
}

header .box {
    /* background-color: magenta; */
    font-weight: bold;
    padding: 20px;
}

header .input_right {
    margin-left: auto;
    text-align: right;
}

#jumbo img {
    max-width: 250px;
}

/* 
#info .box{
    background-color: magenta;
} */

#contact .custom_imput {
    border-bottom: 1px solid gray !important;

}

#contact .custom_imput::placeholder {
    color: black;
}

.star {
    font-size: 2rem;
}

.icon_around .fa {
    display: inline-block;
    border-radius: 50%;
    padding: 0.7em;
    border: 1px solid white;
    margin: 10px 5px;
}