/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header .box {
    background-color: magenta;
    font-weight: bold;
    padding: 20px;
}

#jumbo .box{
    background-color: magenta;
    font-weight: bold;
    padding: 20px;
    min-height: 300px;
}
